.alert {
    padding: 10px; /* adjust this one to get a thicker box */
    border-radius: 5px; /* remove this line if you want a square box without rounded corners */
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    margin: auto;
    max-width: 810px; /* adjust this one for box length */
    #margin-top: 50px;  /* uncomment "#" and adjust px for more air*/
}
